.mat-card{
  width: 60%;
  vertical-align: central;
  padding: 2%;
}
.contenedor{
  margin: auto;
  width: 80%;
  padding: 5% 0
}
mat-card-title{
  margin: auto;
}

mat-form-field{
  width: 100%;
  margin: auto;
}

button{
  width: 100%;
  margin: auto;
}

